@{
    ViewData["Title"] = "Appreciation Page";
}

@Model AppreciationViewModel



<div class="text-center">
    <h1 class="display-4">Appreciation</h1>
    <p>@Model.Username</p>
    <p>@Model.Message</p>
</div>
